/*--------------------------------------------------------------------------------------------
*
*	Global
*
*--------------------------------------------------------------------------------------------*/
.container-footer {
    padding-top: 2%;
    clear: left;
    min-height: 50px;
}